---

---

<style>
    .centered {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding: 24px;
    }
</style>

<div class="centered appear appear-sixth">
    <slot />
</div>