---
export interface Props {
  hero: string;
  description: string;
}

const { hero, description } = Astro.props;
---

<style>
  h1 {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    font-weight: 800;
    margin: var(--space-8x) 24px var(--space-2x);
  }

  p {
    font-size: var(--text-md);
    line-height: 1.4;
    color: var(--secondary-color);
    margin-top: 0;
    margin-left: 24px;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 40px;
      margin: var(--space-16x) var(--space-8x) var(--space-4x);
    }

    p {
      margin-left: var(--space-8x);
    }
  }
</style>
<h1>{hero}</h1>
<p>
  {description}
</p>
