---
import { siteNameMulti } from "../data/meta";
---

<style>
  .logo {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: var(--space-3x);
    display: flex;
    width: 3em;
  }

  .text {
    line-height: 1.15;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .text-secondary {
    color: var(--color);
  }
</style>
<div class="logo">
  <div class="icon">
    <img src="/logo.png" alt="Logo" />
  </div>
  <div class="text">
    <div>{siteNameMulti[0]}</div>
    <div style="--color: var(--accents-5)" class="text-secondary">
      {siteNameMulti[1]}
    </div>
  </div>
</div>
